<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
<div class="text-center">
    <input type="hidden" name="id" [value]="service.formData.id">
    <h1 class="dispay-6 fw-bold"  >{{service.formData.productName}}</h1>
</div>
<div class="mb-3 col-6">
    <label>productName</label>
    <input class="form-control form-control-lg"
    placeholder="Email of User" name="productName"
    #productName="ngModel"[(ngModel)]="service.formData.productName" required>
</div>
        </div>
        </div>
</div>
